@import url("http://fonts.googleapis.com/css?family=Gravitas+One");
@import url("http://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

p{
	text-align: justify;
    text-justify: inter-word;
}

a.home_links { 
	color:black;
	font-family: 'Montserrat';
	font-size:48px;
} 

a.home_links:visited { text-decoration: none; color:black; }
a.home_links:hover { text-decoration: none; color:black; }
a.home_links:focus { text-decoration: none; color:black; }
a.home_links:hover, a.home_links:active { text-decoration: none; color:black }

span {
	font-size:125px;
	font-family: 'Gravitas One';	
}

#name{
	border-top: 20px;
}

#resume{
	position: fixed;
    bottom: 0;
	margin-bottom: 1cm;
	margin-left: 20px;
}

#github{
	position: fixed;
    bottom: 0;
	margin-bottom: 1cm;
	right:30%;
	
}

#linkedin{
	position: fixed;
    bottom: 0;
	margin-bottom: 1cm;
	left:30%;
	
}

#projects{
	position: fixed;
    bottom: 0;
    right: 0;
	margin-bottom: 1cm;
	margin-right: 25px;
}

.image_container_m {
    text-align: center;
    margin-top: 35px;
    display: none;
}

.image_container_l {
    text-align: center;
    margin-top: 65px;
    display: none;
}

.image_container img {
    vertical-align: middle;
}

@media only screen and (min-width:1367px) {
	.image_container_l {
		display: block;
	}
}

@media only screen and (min-width:1025px) and (max-width: 1366px)  {
	.image_container_m {
		display: block;
	}

}
@media only screen and (min-width:501px) and (max-width: 1024px)  {
	.image_container_m {
		display: block;
		margin-top: 60px;
	}
	span {
		font-size:75px;	
	}

}

@media only screen and (max-width: 500px)  {
	.image_container_m {
		display: block;
		margin-top: 125px;
	}
	span {
		font-size:45px;	
	}
	a { 
		font-size:20px;
	} 

}

.page_title{
		font-size:48px;
}

.project_title{
		font-size:36px;
}